<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Fauxbook</title>
    <!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'simplesocial/css/master.css'%}">


</head>

<body style="background-color:#0021A5">
    <nav style="background-color:#FA4616" class="navbar mynav" role="navigation" id="navbar">
        <div class="container">
            <a style="color:#0021A5" href="{% url 'home' %}"><strong>Fauxbook</h1></a>

            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a style="color:#0021A5" href="{% url 'posts:create' %}"><strong>Post</strong></a></li>
                <li><a style="color:#0021A5" href="{% url 'groups:all' %}"><strong>Groups</strong></a></li>
                <li><a style="color:#0021A5" href="{% url 'groups:create' %}"><strong>Create Group</strong></a></li>
                <li><a style="color:#0021A5" href="{% url 'accounts:logout' %}"><strong>Logout</strong></a></li>

                {% else %}
                <li><a href="#">Groups</a></li>
                <li><a href="{% url 'accounts:login' %}">Log In</a></li>
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>

                {% endif %}


            </ul>

        </div>
    </nav>
    <div class="container mycontent">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>