<!DOCTYPE html>
{% extends "base.html"%}

{% block content %}
<h1 style="color:#FA4616"> Welcome to Fauxbook!</h1>
<img class="mx-auto d-block" style="border: 2px solid #fa4616;"
    src="https://netstorage-kami.akamaized.net/images/eab6fca99840650f.jpg?imwidth=900"
    srcset="https://netstorage-kami.akamaized.net/images/eab6fca99840650f.jpg?imwidth=250 250w, https://netstorage-kami.akamaized.net/images/eab6fca99840650f.jpg?imwidth=360 360w, https://netstorage-kami.akamaized.net/images/eab6fca99840650f.jpg?imwidth=430 430w, https://netstorage-kami.akamaized.net/images/eab6fca99840650f.jpg?imwidth=720 720w"
    width="480" height="600" alt="Tim Tebow" title="Tim Tebow"
    sizes="(max-width: 1021px) calc(100vw - 2 * 13px), (max-width: 1400px) calc((100vw - 2 * 20px - 2 * 20px) / 2), 800px">
{% endblock %}