{% extends 'book_app/book_app_base.html' %}



{% block body_block%}
<h1>Welcome to the Author Detail Page</h1>
<div class="jumbotron">
    <h2>Author details: </h2>
    <p>Name: {{author_detail.name}}</p>
    <p>Age: {{author_detail.age}} </p>
    <!-- <p>Location: {{author_detail.location}}</p> -->
    <h3>Bibliography: </h3>
        <div class="container">
            {% for book in author_detail.book.all %}
            <p>{{book.title}} </p>
            {% endfor %}
        </div>
</div>

<div class="container">
    <p><a class="btn btn-warning" href="{% url 'simon:update' pk=author_detail.pk %}">Update</a></p>
    
</div>
<div>
    <p><a class="btn btn-warning" href="{% url 'simon:home' %}">Home</a></p>
</div>

{% endblock %}
