{% extends 'base.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>

    <div><h1>List of Books</h1></div>
    {% for book in books %}
    <a href="{% url 'books_detail' book.id %}" >
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ book.title }}, by {{book.author}}

                </span>
            </div>
        </div>
    </a>
    {% endfor %}

{% endblock %}