{% extends "book_app/book_app_base.html" %}

{% block body_block %}
{% if object %}
<h2>Edit
    <span class="teal-text">{{object.name}}</span></h2>
    {% else %}
    <h2>Add Author</h2>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <table>{{form.as_table}}
        </table>
        <input type="submit" value="{% if object %}Update{% else %}Create{% endif %}Author" class="btn">
    </form>
    {% endblock %}









    <!-- <h1>
    {% if not form.instance.pk %}
    Add Author
    {% else %}
    Update Author
    {% endif %}
</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn btn-primary" value="Submit">

</form> -->